# SGCEA - .htaccess (raíz)
# Redirige todo el tráfico a la carpeta public/

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todo a public/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

